In [4]:
import numpy as np

In [5]:
import pandas as pd

In [6]:
import matplotlib as plt

In [8]:
df = pd.read_csv("Retail_Transactions_Dataset.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Transaction_ID     30000 non-null  int64
 1   Date               30000 non-null  object
 2   Customer_Name      30000 non-null  object
 3   Product            30000 non-null  object
 4   Total_Items        30000 non-null  int64
 5   Total_Cost         30000 non-null  float64
 6   Payment_Method     30000 non-null  object
 7   City               30000 non-null  object
 8   Store_Type         30000 non-null  object
 9   Discount_Applied   30000 non-null  bool
 10  Customer_Category  30000 non-null  object
 11  Season             30000 non-null  object
 12  Promotion          20009 non-null  object
dtypes: bool(1), float64(1), int64(2), object(9)
memory usage: 2.8+ MB

In [9]:
print(df.head())

   Transaction_ID                 Date     Customer_Name  \
0      1000000000  2020-12-21 19:42:52   Cheyenne Newman
1      1000000001  2020-07-06 07:45:16  Emily Fitzgerald
2      1000000002  2021-10-02 06:28:44      Michael Webb
3      1000000003  2022-01-10 05:39:02      Kimberly Lin
4      1000000004  2021-10-13 07:28:47   Cathy Hernandez

                                             Product  Total_Items  Total_Cost  \
0                                       ['Hair Gel']            6       12.77
1         ['Tuna', 'Bread', 'Tissues', 'Trash Bags']            5       13.88
2                         ['Jam', 'Soap', 'Ketchup']            7       47.02
3                                      ['BBQ Sauce']            9       83.86
4  ['Hand Sanitizer', 'Bread', 'Extension Cords',...            4       30.55

   Payment_Method      City         Store_Type  Discount_Applied  \
0      Debit Card  New York  Convenience Store              True
1      Debit Card   Houston        Supermarket             False
2      Debit Card     Miami  Convenience Store             False
3  Mobile Payment   Seattle     Warehouse Club              True
4      Debit Card   Houston     Warehouse Club             False

  Customer_Category  Season                   Promotion
0           Student  Winter                         NaN
1      Professional    Fall      BOGO (Buy One Get One)
2       Young Adult  Winter                         NaN
3    Senior Citizen  Summer  Discount on Selected Items
4    Senior Citizen  Spring                         NaN